@font-face {
    font-family: 'Noto Sans';
    src: url("../../fonts/noto-sans/NotoSans-Regular.ttf") format('truetype');
}

body {
	--main-bg-color: #f3f4f6;
	margin: 0px;
	background-color: var(--main-bg-color);
	font-family: "Noto Sans", sans-serif;
}

#root {
	min-height: 100vh;
	display: flex;
	gap: 10px;
}

aside {
	flex: 2;
	padding: 1.2em;
}

main {
	flex: 3;
	background-color: #fff;
	--general-padding: 1.05em;
	--cv-header-color: #0e374e;
}

form {
	background-color: #fff;
}