.genInfo {
	--cv-header-color: #0e374e;
	--gen-info-color: #fff;
	background-color: var(--cv-header-color);
	color: var(--gen-info-color);
	padding: 1.05em;
}

.genInfo > h1 {
	text-align: center;
	font-size: 2rem;
	margin: 0px;
}

.genInfo > h3 {
	margin: 0px;
	text-decoration: underline;
	font-size: 1.4rem;
}

.contactInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.contactInfo > div {
	display: flex;
	gap: 0.4em;
	align-items: center;
	flex-wrap: wrap;
}

.contactInfo svg {
	width: 1em;
}