.genInfo {
	--gen-info-color: #fff;
	background-color: var(--cv-header-color);
	color: var(--gen-info-color);
	padding: var(--general-padding);
}

.genInfo>h1 {
	text-align: center;
	font-size: 2rem;
	margin: 0px;
}

.genInfo>h3,
.genInfo>div h3 {
	margin: 2px;
	text-decoration: underline;
	font-size: 1.4rem;
}

.genInfo p {
	margin: 3px;
}

.contactInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.contactInfo>div {
	display: flex;
	gap: 0.4em;
	align-items: center;
	flex-wrap: wrap;
}

.contactInfo svg {
	width: 1em;
}

.contactInfo a {
	text-decoration: none;
	color: var(--gen-info-color);
}

.eduState {
	padding: var(--general-padding);
	--title-background-color: rgba(14, 55, 78, .07);
	text-align: center;
	color: var(--cv-header-color);
}

.eduState>h3 {
	text-decoration: underline;
	font-size: 1.5rem;
	background-color: var(--title-background-color);
}

.eduData {
	color: black;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	text-align: justify;
	gap: 20px;
}

.eduData>p {
	max-width: 50ch;
	margin: 0;
}

.degreeDateAndTitle>p {
	font-size: 0.9rem;
	margin: 0.5px;
}


.degreeDateAndTitle>p:first-child {
	font-size: 1rem;
	font-weight: bold;
	min-width: 25ch;
}